@import url("https://fonts.google.com/share?selection.family=Raleway:ital,wght@0,100..900;1,100..900");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Telefon", Sans-Serif;
  font-weight: 400;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #131417;
}

#root {
  height: 100%;
}

.text {
  color: hsl(233.33deg, 9.89%, 64.31%)
}


.codeMirror {
  width: 100% !important;
}

.open {
  color: black;
}

.close {
  color: black;
}